@font-face {
  font-family: "hanken";
  src: url("fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "hanken";
  font-size: 17px;
  color: grey;
  background-color: rgb(207, 211, 221);
}
.card {
  width: 25%;
  max-height: max-content;
  background-color: white;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
}
.card-head {
  height: 40%;
  margin: 5px 5px 20px 5px;
  position: relative;
  border-radius: 20px;
}
.head-image {
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 20px;
}
.like-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 10%;
  height: 15;
}
.card-body {
  height: 60%;
  padding: 0px 5px;
  margin-bottom: 10px;
}
.tour-town {
  font-weight: 500;
  font-size: 1.6rem;
  color: black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.tour-opts {
  margin: 20px auto;
}
.opts-icons {
  display: flex;
  justify-content: space-around;
  padding-right: 10px;
}
.opts-texts {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
}
.tour-more-opts {
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 25px;
}
.main-price {
  text-decoration: line-through black;
}
.tour-price {
}
.off-price {
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
  padding-left: 10px;
}
.info-price {
  font-size: 0.85rem;
  vertical-align: sub;
}
